/* 1. Deklarasi urutan sesuai Dokumen Resmi AntD */
@layer theme, base, antd, components, utilities;

/* 2. Import Tailwind murni (v4 akan menangani sisanya) */
@import 'tailwindcss';
@config '../../../tailwind.config.js';

/* 3. Gaya dasar aplikasi kita tetap di layer base agar tertib */
@layer base {
  body {
    @apply bg-white text-gray-7 antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins font-semibold text-gray-13;
  }

  h1 {
    @apply h1-semibold;
  }
  h2 {
    @apply h2-semibold;
  }
  h3 {
    @apply h3-semibold;
  }
  h4 {
    @apply h4-semibold;
  }
  h5 {
    @apply h5-semibold;
  }
  h6 {
    @apply h6-semibold;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
