node_modules/
.pnpm-store/

dist/
build/
.out/
coverage/

.turbo/
.turbo-cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
.idea/

**/prisma/migrations/
**/prisma/generated/

*.tsbuildinfo

apps/frontend/dist/
apps/frontend/.vite/

package-lock.json

packages/sdk/dist/

*.log
tmp/
temp/
.cache/
